[packages]
backoff = "*"
boto3 = "*"

[dev-packages]
advbumpversion = "*"
codecov = "*"
moto = "*"
pipenv = "*"
pytest = "*"
pytest-cov = "*"
pytest-localstack = "*"
python-decouple = "*"
recommonmark = "*"
sphinx = "*"
wheel = "*"

[requires]
python_version = "3.6"
